*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Roboto;
    
}
body{
    background-color: rgba(239, 215, 250, 0.797);
}
.ul-pet{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin:auto;
}

.li-pet{
    width: 280px;
    background-color: white;
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin:10px;
}

 .ul-pet .li-pet img{
    width:200px;
    height: 200px;
    border-radius: 100%;
 }

 .btn-actions{
    display: flex;
    justify-content: space-between;
 }

 .btn-actions form input {
    margin: 10px;
    height: 30px;
    width:100px;
    border-radius: 5px;
    
    cursor: pointer;
 }

.excluir-pet{
    border: 1px solid red;
    color: red;
    background-color: white;
}

.adotar-pet{
    color: white;
    background-color: #613387;
    border: none;
}

h1{
    text-align: center;
    margin:20px;
    color:#613387;
}