

section {
    margin:20px auto;
    width: 60%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    color: rgb(97 51 135/1);
    text-align: center;
    font-size: 30px;
    margin:20px;
}
p{
    text-align:left;    
    color: #4B5563;
    margin: 20px;
    width: 60%;
    line-height: 3;
}
